@font-face {
    font-family: "CrocoSansRegular";
    src: local("CrocoSansRegular"),
      url("../fonts/NeueCrocoSansRegular.woff") format("woff")
}

@font-face {
    font-family: "CrocoSansMedium";
    src: local("CrocoSansMedium"),
      url("../fonts/NeueCrocoSansMedium.woff") format("woff")
}