@import "../../../assets/scss/colors.scss";

.header {
    display: flex;
    align-items: center;
    padding: 0 30px;
    gap: 30px;
    justify-content: flex-end;
    background-color: $background;
    height: 60px;
    flex-wrap: nowrap;
}
